<html>
<head><title>Teacher specific exam</title></head>
<body>
<p>Hi, <%= @username %></p>

<p>You are editing the exame "<%= @exam %>"</p>

<p>well, there's nothing to do actually. Sorry.</p>

<%= erb :_return_to_lms %>

<%= erb :_print_params %>

</body>
</html>
